<footer class="site-footer h-card">
    <span>
        &copy; 2025 Seventh Disorder Ltd.<br>
        Company Number (16377689) registered in England and Wales
    </span>
    <nav class="socials-menu">
        <ul>
            <li>
                <a href="https://bsky.app/profile/seventhdisorder.com">BlueSky</a>
            </li>
            <li>
                <a href="https://www.instagram.com/seventhdisorder/">Instagram</a>
            </li>
            <li>
                <a href="http://tiktok.com/@seventhdisorder">TikTok</a>
            </li>
            <li>
                <a href="https://www.youtube.com/@SeventhDisorder">YouTube</a>
            </li>
        </ul>
    </nav>
</footer>

<script src="{{ "/assets/js/main.js" | relative_url }}"></script>