html {
    background: #1B171B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #fff;
}

.home-bg {
    overflow: hidden;
}

.home-bg:before {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url(/assets/img/home-page-bg.png);
    background-size: cover;
    background-position: center;
    filter: blur(85px);
}

.mouse-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mouse-effect:before {
    content: "";
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(104, 52, 144, 0.2), transparent);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.mouse-effect:hover:before {
    opacity: 1;
}

.wrapper {
    width: 100%;
    max-width: 50rem;
    margin: auto;
}

.page-content {
    margin: 5rem 1rem;
    line-height: 1.5;
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    .page-content {
        font-size: 1rem;
    }
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        display: block;
        margin: 2rem auto;
        position: relative;
        left: 1rem;
        width: 100%;
        max-width: 20rem;
    }

    .wrapper {
        background: #111;
        z-index: 2;
        padding: 2rem 4rem;
        box-shadow: 1rem 1rem 0px rgba(0,0,0,0.5);
    }
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: #420e8b;

    .logo {
        height: auto;
        width: 7rem;
    }
}

.main-nav {
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li:not(:last-child) {
        margin: 0 2rem 0 0;
    }

    a {
        display: block;
        position: relative;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.5rem;
        overflow: hidden;
        min-width: 5rem;
        z-index: 2;
    }

    a:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #683490;
        z-index: -1;
        transition: transform 0.4s ease;
        transform: translate(0, 100%);
    }

    a:hover:after {
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 600px) {
    .main-nav {
        ul {
            flex-direction: column;
        }

        li:not(:last-child) {
            margin: 0;
        }

        a {
            padding: 0.5rem 1rem;
            min-width: 3rem;
        }
    }
}

.header-home {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem;
    font-size: 2rem;
    letter-spacing: 0.25rem;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.logo-glitch {
    margin: 0 auto 2rem;
    position: relative;
    width: 100%;
    height: 30vw;
    min-height: 10rem;
    max-width: 20rem;
    max-height: 15rem;
    overflow: hidden;
}

.logo-glitch:hover .logo-glitch__image:nth-child(n+2) {
	opacity: 0.8;
    animation-direction: reverse;
}

.logo-glitch__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/assets/img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-glitch__image:nth-child(2) {
    background-color: transparent;
    background-blend-mode: difference;
    opacity: 0.25;
    transform: translate3d(5px,0,0);
	animation: glitch-anim-1-horizontal 1s infinite linear alternate;
}

@keyframes glitch-anim-1-horizontal {
	0% { 
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	10% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	20% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	30% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	40% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	50% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	60% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	70% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	80% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	90% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	100% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
}

.games {
    list-style: none;
    margin: 0;
    padding: 0;

    img {
        display: block;
        max-width: 100%;
        transition: transform 0.4s ease;
    }

    img:hover {
        transform: scale(1.1);
    }

    li {
        box-shadow: 1em 1em 0 rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
    }

    li:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        z-index: 2;
        pointer-events: none;
        opacity: 1;
        transition: opacity 0.4s ease;
    }

    li:hover:before {
        opacity: 0;
    }

    h2 {
        color: #fff;
        text-decoration: none;
        position: absolute;
        bottom: 1em;
        left: 1em;
        margin: 0;
        z-index: 5;
    }
}

@media screen and (max-width: 600px) {
    .games {
        padding-right: 0.5rem;

        img {
            width: calc(100vw - 2rem);
            height: calc(80vw - 2rem);
            object-fit: cover;
            object-position: right;
        }
    }
}

.featured-image {
    min-height: 15rem;
    object-fit: cover;
    object-position: right;
}

.team-bios {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2rem;

    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    img {
        object-fit: cover;
        width: 20rem;
        height: 20rem;
        box-shadow: 1rem 1rem 0px rgba(0, 0, 0, 0.5);
        background-color: #1B171B;
        border: 0;
        filter: grayscale(0.5) hue-rotate(330deg) saturate(2);
    }

    div {
        width: calc(100% - 23rem);
    }

    h2 {
        margin-bottom: 0;
    }

    h3 {
        font-weight: normal;
        margin-top: 0;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 600px) {
    .team-bios {
        li {
            flex-direction: column;
        }

        img {
            width: calc(100vw - 3rem);
            height: calc(100vw - 3rem);
            margin-bottom: 1rem;
        }

        div {
            width: 100%;
        }
    }
}

.news {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        display: block;
        text-decoration: none;
        padding: 1rem 2rem;
    }

    li {
        position: relative;
        border: 2px solid #683490;
        box-shadow: 1rem 1rem 0px #420e8b;
    }

    li:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #683490;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    li:hover:before {
        opacity: 0.2;
    }

    small {
        display: block;
        font-size: 75%;
        text-transform: uppercase;
        font-weight: bold;
        color: #683490;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .news {
        padding-right: 1rem;
    }
}

.single-news {
    h1 {
        margin-bottom: 0;
    }

    small {
        font-size: 75%;
        text-transform: uppercase;
        font-weight: bold;
        color: #683490;
        display: block;
        margin-bottom: 3rem;
    }
}

.site-footer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    color: #683490;

    ul {
        margin: 1rem 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    li:not(:first-child) {
        margin-left: 1rem;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}