<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <h1>{{ page.title }}</h1>
        {{ content }}

        <ul class="games">
        {% for game in site.games %}
            <li>
                <a href={{game.url}}>
                    <img src={{ game.boxart }} alt={{ game.name }}>
                    <h2>{{ game.name }}</h2>
                </a>
            </li>
        {% endfor %}
        </ul>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>